<!DOCTYPE html>
<html>

<head>
    <title>Resume Upload</title>
</head>

<body>

    <h1>Resume Analyzer</h1>

    <h2>Upload Resume</h2>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Upload Resume
        </button>

    </form>


    {% if resume %}

        <h3>Resume uploaded successfully!</h3>

        <p>
            File: {{ resume.file.name }}
        </p>
        <p>
            {{ resume.extract_text }}
        </p>

    {% endif %}

    {% if skills %}
        <h3>Extracted Skills:</h3>
        <ul>
            {% for skill in skills %}
                <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    {% endif %}

</body>

</html>